.home{
  overflow-x: hidden;
}
.about-section p{
    text-align: justify;
}
.about-section h5{
    padding: 10px;
    color: #14469f;
    font-weight: bold;
    font-size: 27px;
}
.about-section h5 span{
  color: #f46f20;
  font-size: 23px; 
}
.about-section{
background-color: #cccc;
}
.about-bmg-section,.about-nye-summit{
background-color: #fff;
margin-top: 40px;
}
@media only screen and (max-width: 1250px){
  .video{
    height: 339px !important;
  }
 }


/* theme */

.parallax {
    /* The image used */
    background-image: url("../img/the.jpg");
    min-height: 280px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .parallal-content h3{
    color:#fff;
    text-align: center;
    padding-top: 100px;
  }


  /* highlight of nye */
  
  .highlight_nye{
    background-color:  #e6e6e6;
    /* background-color: #faf0dc; */
    /* background-color: #ffffff; */
  }

  .highlight_nye h3{
    text-align: center;
    color: #14469f;
    font-weight: bold;
  }

  .highlight-card{
    position: relative;
   
  }
  .highlight-card .card:hover{
    transform: scale(1.07); 
    background-color:#f46f20;
  }
  .highlight-card .card{
    transition: transform .2s;
    /* background-color:  #0b4141; */
    background-color:  #14469f;
    text-align: center;
    cursor: pointer;
    margin: 10px;
  }
  .highlight-card .card h1{
    font-weight: bold;
    padding: 15px 0px 1px 0px;
    color: #fff;
  }
  .highlight-card .card p{
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
  }
  .highlight-card .peope-icon{
    height: 40px;
    width: 40px;
    /* background-color: #ff6864; */
    background-color: #ea2129;
    border-radius: 50%;
    position: absolute;
    top: 35%;
    left: -18px;
  }
  .highlight-card .peope-icon .icon{
    font-size: 20px;
    margin-left: 10px;
    margin-top: 7px;
    color: #fff;
  }

  /* guest */

  .speaker{
    background-color:#e6e6e6;
  }

  .distinguished-guest .guest-header h2{
    text-align: center;
    color: #14469f;
    font-weight: bold;
  }
  .distinguished-guest .guest-header p{
    text-align: center;
    font-weight: 550;
  }
  .distinguished-guest .guest-card img{
    height: 220px;
  }
  .distinguished-guest .guest-card{
    background-color: #fff;
    margin: 0px 10px;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: transform .2s;
    cursor: pointer;
    height:360px;
  }
  .distinguished-guest .guest-card:hover{
    transform: scale(1.05); 
  }
  .distinguished-guest .guest-card h5{
    font-size: 20px;
    color: #14469f;
    margin: 8px 2px;
    transition: all 0.5s ease 0s;
    font-weight: bold;
    text-align: center;
    font-family: sans-serif;
  }
  .distinguished-guest .guest-card p{
    display: block;
    font-size: 17px;
    font-weight: 550;
    color: #14469f;
    text-transform: capitalize;
    text-align: center;
  }
  
  @media only screen and (max-width: 924px){
    .distinguished-guest .guest-card img{
      height: 270px;
    }
    .distinguished-guest .guest-card{
      height: 400px;
      width: 310px;
    }
   }
   @media only screen and (max-width: 1250px){
    .distinguished-guest .guest-card{
      margin: 0px 0px;
      padding: 10px 10px;
    }
   }

  /* speakers */
  .speakers .moderator{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .speaker-head h2{
    text-align: center;
    color: #fff;
    font-weight: bold;
  }
  .speakers-card{
    margin: 10px 0px;
    background-color:none;
    padding: 10px 0px;
    text-align: center;
    justify-content: center;

  }
  .speakers-card h4{
    font-size: 18px;
    color: #fff;
    letter-spacing: 4px;
    margin: 8px 2px;
    transition: all 0.5s ease 0s;
    font-weight: bold;
    text-align: center;
  }
  .speakers-card .card-position p{
    display: block;
  font-size: 15px;
  font-weight: 550;
  color: #fff;
  text-transform: capitalize;
  margin-top:-5px;
text-align: center;
  }
  .speakers-card  img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
  }

  .view-all-button{
    text-align: center;
    padding-top: 30px;
  }
  .view-all-button button{
    border: none;
    background-color: #14469f;
    color: #fff;
    font-size: 18px;
    width: 180px;
    height: 45px;
    outline: none;
}


/* faq section */

.faq_head h2{
  font-size: 40px;
  font-weight: bold;
  color: #14469f;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.faq .accordion-button:focus {
  z-index: 3;
  border-color: #fff !important;
  outline: 1px solid #000;
  box-shadow: none !important;
}
.faq .accordion-button:not(.collapsed) {
   color:#000 !important; 
   background-color: #fff !important; 
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.faq .accordion-button::after {
  background-image:none !important;
}
.faq-quiestions button{
  font-weight: bold;
  font-size: 20px;
}
.faq .search{
  position: absolute;
  right: 40px;
  transition: .25s;
  animation: 1.25s bounce infinite;
  font-size: 24px;
}
@keyframes bounce{
  0%, 20%, 53%, 80%, 100% {
      -webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
      -webkit-transform: translateZ(0);
      animation-timing-function: cubic-bezier(.215,.61,.355,1);
      transform: translateZ(0);
  }
  40%, 43% {
      -webkit-animation-timing-function: cubic-bezier(.755,.05,.855,.06);
      -webkit-transform: translate3d(0,-30px,0);
      animation-timing-function: cubic-bezier(.755,.05,.855,.06);
      transform: translate3d(0,-30px,0);
  }
  
  70% {
      -webkit-animation-timing-function: cubic-bezier(.755,.05,.855,.06);
      -webkit-transform: translate3d(0,-15px,0);
      animation-timing-function: cubic-bezier(.755,.05,.855,.06);
      transform: translate3d(0,-15px,0);
  }
  90% {
      -webkit-transform: translate3d(0,-4px,0);
      transform: translate3d(0,-4px,0);
  }
}
.faq-quiestions ol li{
  font-weight: 550;
  padding: 5px;
}
.faq .accordion-body{
  background-color:#e9f4f8;
  border: 2px solid #fff;
  padding-top: 40px;
}

/* event venue head */
.event-venue{
  background-color: #ccc;
}
.rowe{
  width: 98%;
  margin: auto;
}
.event-venue-head h2{
  text-align: center;
  color: #14469f;
  font-weight: bold;
}
.venue{
  position: relative;
}
.venue-image{
  background-color: #000;
}
.venue-image img{
  opacity: .6;
}
.venue-title{
  position: absolute;
  top: 40%;
  left: 10%;
}
.venue-title h3{
  color: #fff;
}


/* partners */

.partners-head h2{
  text-align: center;
  color: #14469f;
  font-weight: bold;
}

.partners img{
  height: 150px;
  width: 150px;
}

/* testimonials */
.testi-head h2{
  text-align: center;
    color: #14469f;
  font-weight: bold;
}
.testi-carousel{
  background-color: #14469f;
}

.testi-carousel h4{
  color: #fff;
  font-size: 28px;
  font-weight: bold;
}
.img-col{
  height: 580px;
  width: 450px;
  clip-path: polygon(36% 0, 100% 0, 100% 100%, 0 100%);
}
.img-col img{
  height: 520px;
  width: 450px;
  margin-top: 30px;
}
.testi-message{
  width: 600px;
  margin-right: 0px !important;
  margin: auto;
  padding-top: 110px;
  color: #fff;
  text-align: justify;
  font-size: 19px;
}
.testi-icon{
  font-size: 40px;
  margin: 0px 10px;
  color: #f46f20;
}
@media only screen and (max-width: 1100px){
  .testis{
    display: none;
  }
 }
